@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: rgb(41, 39, 39);
  --background-rgb: rgb(250, 250, 250);
}
button:hover {
  color: rgb(145, 91, 141);
}
a:hover {
  color: rgb(145, 91, 141);
}
p:hover {
  color: rgb(145, 91, 141);
}
h1:hover {
  color: rgb(145, 91, 141);
}
li:hover {
  color: rgb(173, 75, 167);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(209, 209, 209);
    --background-rgb: rgb(41, 39, 39);
  }
  button:hover {
    color: rgb(143, 117, 141);
  }
  a:hover {
    color: rgb(143, 117, 141);
  }
  p:hover {
    color: rgb(143, 117, 141);
  }
  h1:hover {
    color: rgb(143, 117, 141);
  }
  li:hover {
    color: rgb(143, 117, 141);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
